* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #434242;
  list-style-type: none;
  user-select: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer; }

.wrap {
  /***********head css***********/
  /*@at-root .wrap--fiveSystem{
    width: 100%;
    overflow: hidden;
    @at-root .fiveSystem__container{
      width: 1200px;
      margin: 0 auto;
      @at-root .fiveSystem__containerMain{
        padding-top: 60px;
        @at-root .fiveSystem__Focus{
          margin: 0 auto;
          width: 100%;
          position: relative;
          overflow: hidden;
          zoom: 1;
          @at-root .FiveSystem__FocusTop{
            width:100%;
            padding-top:5px;
            overflow:hidden;
            @at-root .service{
              padding-left: 50px;
              @at-root .service__item{
                margin-right: 61px;
                float:left;
                text-align:center;
                width: 150px;
                height: 155px;
                display: inline-block;
                @at-root .item__role{
                  color:#959595;
                  font-size: 18px;
                  height: 155px;
                  text-align: center;
                  @at-root .item__role span{
                    display: inline-block;
                    margin-top: 10px;
                  }
                }
              }
            }
          }
          @at-root .fiveSystem__FocusBd{
            background: url("../images/first_images/bg1.png") no-repeat center center;
            width: 100%;
            height: 528px;
            @at-root .fiveSystem__FocusBd_content{
              position: relative;
              width: 1200px;
              height: 550px;
              @at-root .fiveSystem__FocusBd_content-item{
                position: absolute;
                width: 1200px;
                left: 0px;
                top: 0px;
                display: none;
                @at-root .fiveSystem__FocusBd_content-item_systemL{
                  float: left;
                  width: 470px;
                  margin-right: 45px;
                  padding-top: 90px;
                  overflow: hidden;
                }
                @at-root .fiveSystem__FocusBd_content-item_systemR{
                  float: right;
                  width: 632px;
                  padding-top: 80px;
                  @at-root .fiveSystem__FocusBd_content-item_systemR span{
                    display: block;
                    line-height: 45px;
                    font-size: 36px;
                    color: #2597ba;
                    margin-bottom: 30px;
                  }
                  @at-root .fiveSystem__FocusBd_content-item_systemR-P1{
                    width: 100%;
                    line-height: 35px;
                    color: #535353;
                    font-size: 18px;
                    height: 245px;
                    overflow: hidden;
                  }
                  @at-root .fiveSystem__FocusBd_content-item_systemR a{
                    display: block;
                    width: 187px;
                    height: 47px;
                    line-height: 47px;
                    background: #edab00;
                    text-align: center;
                    margin-top: 34px;
                    font-size: 18px;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }*/ }
  .wrap--head {
    width: 100%;
    /* position: relative;
     top: -350px;*/
    position: fixed;
    z-index: 9999999;
    top: 0;
    background-color: transparent;
    padding-top: 10px;
    color: #ffffff; }
    .head__navigation--left {
      margin-left: 200px;
      padding-bottom: 3px; }
    .head__navigation--right {
      margin-top: -35px;
      margin-right: 100px;
      float: right; }
      .head__navigation--right > ul {
        position: relative;
        text-align: center; }
        .head__navigation--right > ul > li {
          float: left;
          padding-right: 10px;
          margin-right: 40px;
          min-width: 56px;
          font-size: 14px;
          color: white;
          cursor: pointer;
          position: relative; }
          .head__navigation--right > ul > li > a {
            height: 30px;
            display: inline-block;
            color: #ffffff; }
          .head__navigation--right > ul > li > ul {
            position: absolute;
            z-index: 999;
            top: 30px;
            left: -35px;
            display: none;
            width: 136px;
            text-align: center;
            background: #b7dbe6;
            color: black; }
          .head__navigation--right > ul > li > ul > li {
            float: none;
            line-height: 32px; }
            .head__navigation--right > ul > li > ul > li:hover {
              background: #3d9ebc; }
  .wrap--banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 561px;
    margin: auto; }
    .banner__images {
      position: absolute;
      left: 0;
      top: 0;
      list-style: none;
      font-size: 0;
      width: 3806px;
      height: inherit;
      transition: all .2s ease-in-out; }
      .banner__images--item {
        display: inline-block;
        width: 1903px; }
        .banner__images--item > img {
          width: inherit; }
    .banner__prev, .banner__next {
      position: absolute;
      width: 27px;
      height: 51px;
      top: 255px;
      text-align: center;
      line-height: 51px; }
    .banner__prev {
      position: absolute;
      left: 16px;
      display: none; }
    .banner__next {
      position: absolute;
      right: 16px;
      display: none; }
    .banner__pointer {
      font-size: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      text-align: center;
      line-height: 80px; }
      .banner__pointer--item {
        display: inline-block;
        background: #a9a9a9;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 2px; }
      .banner__pointer--active {
        background: #ffffff; }
  .wrap--banner:hover > .banner__prev {
    display: block; }
  .wrap--banner:hover > .banner__next {
    display: block; }
  .wrap--news {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #e8e8e8;
    background: #f2f2f2;
    /*overflow: hidden;*/ }
    .news__box {
      width: 1200px;
      margin: 0px auto;
      overflow: hidden;
      height: 35px; }
      .news__title {
        display: inline-block;
        padding: 0px 18px;
        float: left;
        background: url("../images/first_images/news.png") no-repeat left center; }
      .news__content {
        width: 784px;
        height: 108px;
        position: relative;
        float: left; }
        .news__contentList {
          height: 144px;
          position: relative;
          padding: 0;
          margin: 0; }
          .news__contentList-item {
            width: 100%;
            height: 36px;
            line-height: 36px;
            overflow: hidden; }
            .aFirst:hover, .aSecond:hover {
              color: #2597ba; }
            .aFirst, .aSecond {
              display: block;
              width: 312px;
              color: #626262;
              font-size: 12px;
              float: left;
              margin-right: 60px; }
              .aFirst span, .aFirst span {
                margin-right: 60px; }
              .aFirst span:hover, .aSecond span:hover {
                color: #2597ba; }
      .news--more {
        float: right;
        color: #434242; }
  .system--container {
    width: 100%; }
    .system-con {
      width: 1200px;
      margin: 0 auto;
      padding-top: 60px; }
      .FiveSystem {
        margin: 0 auto;
        width: 100%;
        position: relative;
        overflow: hidden;
        zoom: 1; }
        .FiveSystem__top {
          width: 100%;
          padding-top: 5px;
          overflow: hidden; }
          .service {
            padding-left: 50px; }
            .service__item {
              margin-right: 61px;
              float: left;
              text-align: center;
              width: 150px;
              height: 155px;
              display: inline-block; }
              .item__role {
                color: #959595;
                font-size: 18px;
                height: 155px; }
                .item__role span {
                  display: inline-block;
                  margin-top: 10px; }
        .FiveSystem__bottom {
          background: url(../images/first_images/bg1.png) no-repeat center center;
          width: 100%;
          height: 528px; }
          .details {
            overflow: hidden; }
            .details__item {
              width: 100%;
              height: 550px;
              overflow: hidden; }
              .item__left {
                float: left;
                width: 470px;
                margin-right: 45px;
                padding-top: 90px;
                overflow: hidden; }
                .left__img {
                  max-width: 100%; }
              .item__right {
                float: left;
                width: 632px;
                padding-top: 80px; }
                .right__title {
                  display: block;
                  line-height: 45px;
                  font-size: 36px;
                  color: #2597ba;
                  margin-bottom: 30px; }
                .right__content {
                  width: 100%;
                  line-height: 35px;
                  color: #535353;
                  font-size: 18px;
                  height: 245px;
                  overflow: hidden; }
                .right__details {
                  text-decoration: none;
                  display: block;
                  width: 187px;
                  height: 47px;
                  line-height: 47px;
                  background: #edab00;
                  text-align: center;
                  margin-top: 34px;
                  font-size: 18px;
                  color: #fff; }
                  .right__details:hover {
                    background: #f59701; }
  .wrap--leader {
    background-position-y: -21.9px;
    transition: background-position 0.3s linear 0s;
    height: 430px;
    background: url("../images/first_images/bg22.jpg") no-repeat center center;
    padding: 60px 0px 45px;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .picFocus {
      padding: 60px 0px 45px;
      text-align: center; }
      .imgCase {
        overflow: hidden;
        width: 1100px;
        margin: 0px auto; }
        .imgCase-item {
          width: 119px;
          height: 220px;
          float: left;
          margin-right: 100px; }
          .imgCase-item .item__headPortrait {
            border: 4px solid transparent;
            border-radius: 50%; }
          .imgCase-item p {
            display: block;
            color: #fff;
            margin: 10px 0px 5px 0px;
            text-align: center; }
      .picFocus-bd {
        width: 100%;
        overflow: hidden;
        text-align: center; }
        .picFocus-bd_brief {
          position: relative;
          width: 1070px;
          height: 62px; }
          brief-item {
            position: absolute;
            width: 1070px;
            left: 0px;
            top: 0px;
            display: none; }
            .briefDiv {
              width: 1200px;
              color: #fff;
              font-size: 18px;
              line-height: 30px;
              text-align: center;
              margin: 0px auto; }
              .briefDiv span {
                color: #f19149;
                font-size: 16px;
                line-height: 30px;
                padding-left: 210px; }
  .wrap--case {
    width: 100%;
    background-color: #eeeeee;
    overflow: hidden; }
    .caseBox {
      width: 1200px;
      margin: 0 auto; }
      .case_top {
        padding-top: 72px;
        text-align: center; }
        .case_top-title {
          font-size: 38px;
          color: #2597ba; }
        .case_top-detail {
          margin-top: 38px; }
          .case_top-detail .case_top-detail_info {
            font-size: 18px; }
      .case_slider {
        margin: 50px auto 80px;
        overflow: hidden;
        width: 1200px;
        height: 462px;
        position: relative;
        font-size: 0; }
        .slider--images {
          position: absolute;
          left: 0;
          top: 0;
          width: 3600px;
          height: inherit;
          transition: left .6s ease-in-out; }
          .imageUl {
            height: 462px;
            width: 3600px; }
            .imageUl--item {
              width: 1200px;
              height: 462px;
              float: left; }
              .imageUl--item img {
                width: 1200px;
                height: inherit; }
              .titleCase {
                position: absolute;
                /*left: 70px;*/
                top: 103px;
                margin-left: 70px;
                width: 400px;
                height: 243px;
                z-index: 999; }
                .titleCase_case {
                  top: 5px;
                  text-align: left;
                  color: #ffffff;
                  font-size: 25px; }
                .titleCase_cont {
                  margin-top: 35px;
                  text-align: left;
                  width: 270px;
                  top: 5px;
                  color: #ffffff;
                  font-size: 18px; }
                .detailsBtn {
                  width: 187px;
                  height: 55px;
                  line-height: 55px;
                  text-align: center;
                  border: 1px solid white;
                  color: white;
                  margin-top: 50px;
                  font-size: 18px; }
                .detailsBtn:hover {
                  color: #ffffff;
                  background: #F59701;
                  border: #F59701; }
        .slider--prev, .slider--next {
          position: absolute;
          top: 225px;
          width: 27px;
          height: 51px;
          z-index: 999; }
        .slider--prev {
          position: absolute;
          left: 16px;
          display: none; }
        .slider--next {
          position: absolute;
          right: 16px;
          display: none; }
        .slider--pointer {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 50px;
          line-height: 50px;
          text-align: center; }
          .slider--pointer__item {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #a9a9a9;
            border-radius: 50%;
            margin: 0 10px; }
          .slider--pointer__item-highLight {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #ffffff;
            border-radius: 50%;
            margin: 0 10px; }
      .case_slider:hover > .slider--prev {
        display: block; }
      .case_slider:hover > .slider--next {
        display: block; }
  .wrap--Message {
    width: 100%;
    overflow: hidden;
    padding-bottom: 105px; }
    .MessageBox {
      width: 1200px;
      margin: 0px auto;
      padding-top: 35px; }
      .Message-Title {
        width: 100%;
        text-align: center;
        padding-bottom: 22px; }
        .Message-Title span {
          display: block;
          font-size: 36px;
          color: #2597ba;
          line-height: 60px; }
      .Message-List {
        width: 100%;
        overflow: hidden; }
        .Message-List1 {
          float: left;
          width: 796px; }
          .messageAll {
            height: 18px;
            width: 400px; }
            .dynamicTitle {
              overflow: hidden; }
              .dynamicTitle-item {
                float: left;
                margin-right: 37px;
                font-size: 16px;
                color: #535353;
                cursor: pointer; }
              .toBlue {
                color: #2597ba; }
          .messageInfo {
            margin-top: 30px;
            overflow: hidden; }
            .messageInfo ul {
              width: 100%;
              display: none; }
              .messageInfo ul li {
                float: left;
                width: 380px;
                margin-right: 20px;
                line-height: 48px;
                font-size: 14px;
                color: #535353; }
                .messageInfo ul li span {
                  float: left; }
                  .messageInfo ul li span i {
                    display: block;
                    width: 1px;
                    height: 15px;
                    background: #535353;
                    float: right;
                    margin: 17px 12px 0px; }
        .Message-List2 {
          float: right;
          width: 375px; }
          .Message-List2 span {
            display: block;
            text-align: left;
            color: #535353;
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 30px; }
          .messageList2Pic {
            width: 100%;
            overflow: hidden; }
            .messageList2Pic img {
              width: 375px;
              height: 160px;
              transition: all 0.6s;
              -o-transition: all 0.6s;
              -moz-transition: all 0.6s; }
            .gif:hover {
              transition: all 0.6s;
              -o-transition: all 0.6s;
              -moz-transition: all 0.6s;
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -o-transform: scale(1.1); }
        .messageMore {
          display: block;
          text-align: left;
          font-size: 14px;
          color: #535353;
          margin-top: 30px;
          clear: both; }
  .wrap--partner {
    width: 100%;
    background: #eeeeee;
    overflow: hidden;
    padding: 60px 0px 86px; }
    .partnerBox {
      width: 1200px;
      margin: 0 auto; }
      .partner__Title {
        font-size: 36px;
        color: #2597ba;
        line-height: 60px;
        display: block;
        text-align: center;
        padding-bottom: 46px; }
      .partner__logoLink1 {
        width: 1230px;
        height: 38px; }
        .link1 {
          box-sizing: border-box; }
          .link1 li {
            width: 113px;
            float: left;
            border: 2px solid transparent;
            margin-right: 18px;
            margin-bottom: 30px; }
            .link1 li img {
              display: block;
              width: 100%;
              height: 38px; }
          .link1 li:hover {
            border: 2px solid #2391B4; }
      .partner__logoLink2 {
        margin-top: 35px;
        width: 1230px;
        height: 38px; }
        .link2 {
          box-sizing: border-box; }
          .link2 li {
            width: 113px;
            float: left;
            border: 2px solid transparent;
            margin-right: 18px;
            margin-bottom: 30px; }
            .link2 li img {
              display: block;
              width: 100%;
              height: 38px; }
          .link2 li:hover {
            border: 2px solid #2391B4; }
  .wrap--footer {
    width: 100vw; }
    .footer-application {
      width: 100%;
      height: 430px;
      background: url("../images/first_images/bg33.jpg") no-repeat center center;
      background-size: 100% 100%; }
      .footer-application span {
        display: block;
        padding: 148px 0px 24px;
        color: white;
        font-size: 36px;
        text-align: center;
        line-height: 50px; }
      .footer-application div {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 18px;
        padding-bottom: 45px; }
      .footer-application a {
        display: block;
        width: 201px;
        line-height: 51px;
        margin: 0px auto;
        background: #edab00;
        text-align: center;
        font-size: 24px;
        color: #ffffff; }
      .footer-application a:hover {
        cursor: pointer;
        border: 0;
        color: black;
        background-color: #F59701; }
    .footer-serve {
      width: 100%;
      height: 120px; }
      .footer-serve .serveInfo {
        width: 1130px;
        padding: 0 35px;
        margin: 0 auto; }
        .footer-serve .serveInfo ul {
          /*overflow: hidden;*/ }
          .footer-serve .serveInfo ul .serve5 > a {
            border: none; }
          .footer-serve .serveInfo ul li {
            float: left;
            padding: 25px 0;
            margin-right: 20px; }
            .footer-serve .serveInfo ul li a {
              display: block;
              width: 187px;
              height: 70px;
              font-size: 24px;
              color: #535353;
              border-right: 1px solid #cccccc;
              text-align: right;
              line-height: 70px;
              padding-right: 18px; }
            .footer-serve .serveInfo ul li a:hover {
              background: #f59701;
              text-decoration: none;
              cursor: pointer; }
    .footer-foot {
      width: 100%;
      background: #e5e5e5;
      padding: 40px 0px; }
      .footer-foot .foot-href {
        width: 1200px;
        margin: 0px auto; }
        .footer-foot .foot-href .foot-T, .footer-foot .foot-href .foot-B, .footer-foot .foot-href .foot-copyright {
          width: 100%;
          overflow: hidden; }
        .footer-foot .foot-href .foot-T .indexList {
          float: left; }
          .footer-foot .foot-href .foot-T .indexList .Product {
            width: 108px; }
          .footer-foot .foot-href .foot-T .indexList .contact {
            width: 275.19px; }
          .footer-foot .foot-href .foot-T .indexList li {
            float: left;
            width: 70px;
            margin-right: 88px; }
            .footer-foot .foot-href .foot-T .indexList li li {
              width: 100%; }
              .footer-foot .foot-href .foot-T .indexList li li a {
                margin: 0;
                display: block;
                text-align: left;
                font-size: 12px;
                color: #535353;
                line-height: 24px; }
          .footer-foot .foot-href .foot-T .indexList a {
            font-size: 16px;
            color: #535353;
            margin-bottom: 20px;
            display: block; }
        .footer-foot .foot-href .foot-T .erweima {
          /*margin: 0;*/
          float: left;
          margin-left: 200px;
          width: 106px; }
          .footer-foot .foot-href .foot-T .erweima div {
            width: 100%;
            overflow: hidden; }
            .footer-foot .foot-href .foot-T .erweima div img {
              display: block;
              width: 100%;
              height: 106px; }
          .footer-foot .foot-href .foot-T .erweima span {
            font-size: 14px;
            text-align: center;
            display: block;
            width: 100%;
            font-weight: bold;
            color: #535353;
            line-height: 18px;
            margin-top: 10px; }
        .footer-foot .foot-href .foot-B {
          margin: 0;
          width: 99%;
          padding: 34px 0px 20px;
          border-bottom: 1px solid #c5c5c5; }
          .footer-foot .foot-href .foot-B span {
            display: inline-block;
            float: left;
            color: #535353;
            font-size: 12px; }
          .footer-foot .foot-href .foot-B ul {
            display: inline-block;
            overflow: hidden;
            float: left;
            margin-top: -3px;
            padding-left: 10px;
            line-height: 18px; }
            .footer-foot .foot-href .foot-B ul li {
              margin-right: 0px;
              float: left; }
              .footer-foot .foot-href .foot-B ul li a {
                color: #535353;
                font-size: 12px; }
        .footer-foot .foot-href .foot-copyright {
          width: 1000px;
          margin: 0px auto;
          text-align: center;
          padding-top: 25px;
          line-height: 25px;
          font-size: 12px;
          color: #535353; }
          .footer-foot .foot-href .foot-copyright div {
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: #434242; }
            .footer-foot .foot-href .foot-copyright div .mark {
              line-height: 1.5;
              color: #535353; }
            .footer-foot .foot-href .foot-copyright div span {
              white-space: normal;
              word-wrap: break-word;
              word-break: break-all; }
  .wrap--consult {
    width: 60px;
    height: 246px;
    position: fixed;
    right: 10px;
    top: 350px;
    z-index: 9999; }
    .wrap--consult ul {
      width: 100%;
      border-bottom: none; }
      .wrap--consult ul li {
        width: 100%;
        height: 60px;
        border: 1px solid #2597ba;
        position: relative;
        background: #fff;
        margin-bottom: 4px; }
        .consultOne a, .consultThree a {
          display: block;
          width: 100%;
          height: 60px;
          position: absolute;
          top: 14px;
          left: 14px; }
        .consultTwo a, .consultFour a {
          display: block;
          width: 100%;
          height: 60px;
          position: absolute;
          top: 13px;
          left: 8px; }
        .phoneInfo {
          display: none;
          position: absolute;
          right: 60px;
          top: -1px;
          width: 200px;
          text-align: center;
          height: 60px;
          color: #2597ba;
          font-size: 18px;
          line-height: 60px;
          border: 1px solid #2597ba;
          background: #fff;
          border-right: none; }
          .phoneInfo span {
            font-size: 18px;
            line-height: 60px;
            white-space: pre-wrap;
            color: #2597ba;
            margin-left: 5px; }
          .phoneInfo .withColorPhone {
            position: absolute;
            top: 13px;
            left: 213px; }
        .weiXinCode {
          display: none;
          position: absolute;
          right: 65px;
          top: -67px;
          width: 125px;
          text-align: center;
          height: 125px;
          color: #2597ba;
          font-size: 18px;
          border: 1px solid #2597ba;
          background: #fff;
          line-height: 216px; }
        .withColorWeiXin {
          position: absolute;
          display: none;
          top: 13px;
          left: 9px; }
        .withColorQQ {
          display: none; }
        .withColorArrow {
          display: none; }
.input--i {
  position: relative;
  color: #F19E22;
  font-size: 20px;
  margin-left: 5px;
  top: 30px; }

.container--mask {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: #858585; }

.container--mask__submit {
  width: 390px;
  height: 507px;
  background: #EAEAEA;
  border-radius: 15px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.container--mask__submit__item {
  margin-top: 25px;
  font-size: 20px;
  color: #2597ba;
  text-align: left;
  padding-left: 20px; }

.submit--item__text2 {
  float: right;
  font-size: 18px;
  color: #2597ba;
  padding-right: 20px;
  cursor: pointer; }

.input--one, .input--two, .input--three {
  outline: none;
  font-size: 15px;
  margin-top: 20px;
  width: 300px;
  height: 35px;
  line-height: 37px;
  padding-left: 40px;
  margin-left: 10px;
  border-radius: 8px;
  position: absolute; }

.tishi {
  position: relative;
  padding-left: 50px;
  height: 35px;
  line-height: 35px;
  color: red;
  font-size: 12px;
  top: 25px; }

.input--one {
  background: url("../images/first_images/icon25.png") no-repeat 10px center #fff;
  background-size: 24px 24px; }

.input--two {
  background: url("../images/first_images/icon26.png") no-repeat 10px center #fff;
  background-size: 24px 24px; }

.input--three {
  background: url("../images/first_images/icon27.png") no-repeat 10px center #fff;
  background-size: 24px 24px; }

.container--mask__submit__serve {
  position: relative; }

.input--i_s {
  position: absolute;
  color: #F19E22;
  font-size: 20px;
  margin-left: 5px;
  top: 8px; }

.input--four {
  border: 1px solid #c6c6c6;
  overflow: hidden;
  border-radius: 8px;
  display: block;
  width: 298px;
  height: 35px;
  color: #959595;
  margin-left: 25px;
  line-height: 37px;
  padding-left: 40px;
  background: url("../images/first_images/icon24.png") no-repeat 10px center #fff;
  background-size: 24px 24px;
  margin-top: 17px; }

.input--label {
  position: absolute;
  right: 25px;
  top: 2px;
  display: block;
  width: 37px;
  height: 37px;
  background: url("../images/first_images/icon28.png") no-repeat center center; }

.coverlist {
  display: none;
  position: absolute;
  z-index: 999999;
  background: #fff;
  border: 1px solid #2597ba;
  width: 310px;
  margin-left: 13px;
  padding: 10px 10px 10px 40px;
  top: 130px; }

.coverlist ul li {
  list-style: none;
  line-height: 35px;
  width: 100%;
  cursor: pointer; }

.coverlist ul li span {
  display: block;
  width: 14px;
  height: 14px;
  float: right;
  border: 1px solid #c0c0c0;
  line-height: 14px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 30px;
  background: white;
  margin-top: 10px; }

.coverlist--btn {
  margin-left: 100px;
  width: 70px;
  height: 25px;
  background: #2597BA;
  border: none;
  color: white;
  font-size: 15px; }

.container--mask__submit__demand {
  outline: none;
  font-size: 14px;
  margin-top: 20px;
  width: 332px;
  height: 100px;
  padding-left: 10px;
  margin-left: 23px;
  padding-top: 8px;
  border-radius: 8px;
  border: 1px solid #c6c6c6; }

.container--mask__submit__btn {
  border: none;
  background: #edab00;
  color: #fff;
  font-size: 18px;
  width: 341px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 14px 0 0 24px;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none; }

.container--mask__submit__btn:active {
  background: #F59701; }

/*# sourceMappingURL=first.css.map */
